fastapi
uvicorn
python-multipart
python-dotenv
docling
presidio-analyzer
presidio-anonymizer
spacy
langchain
langchain-community
langchain-huggingface
langsmith
qdrant-client
sentence-transformers
accelerate
bitsandbytes
psycopg2-binary
PyJWT
bcrypt
cryptography
